[{rabbitmq,    []},
 {rabbitmq_federation,
   [ 
     {upstream_sets, [{"SecondaryUpstream", [[{connection, "secondary-connection"}, {exchange,   "FederationExchange"}, {max_hops,   1}]]},
					  {"MainUpstream", [[{connection, "main-connection"}, {exchange,   "FederationExchange"}, {max_hops,   1}]]}
                     ]},
     {connections, [{"secondary-connection", [{host,        "localhost"},
											 {protocol,     "amqp"},
											 {port,         5673},
											 {virtual_host, "secondary"}
                                        ]},
					{"main-connection", [{host,         "localhost"},
										 {protocol,     "amqp"},
										 {port,         5672},
										 {virtual_host, "/"}
                                        ]}
                   ]}
   ]
  }
].