[{rabbit,    []},
 {rabbit_shovel,
  [{shovels,
    [{primary_to_secondary,
      [{sources,      [{broker, "amqp://guest:guest@localhost"},
                       {declarations,
                          [{'exchange.declare',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {type, <<"topic">>}]},
						  'queue.declare',
                           {'queue.bind',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {queue,    <<>>},
								   {routing_key, <<"#">>}]}
                          ]}]},
       {destinations, [{broker, "amqp://guest:guest@localhost/secondary"},
                       {declarations,
                          [{'exchange.declare',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {type, <<"topic">>}]}
                          ]}]},
       {queue, <<>>},
       
       {auto_ack, false},
       {tx_size, 0}
      ]}
     ]
   }]
}].