[{rabbit,    []},
 {rabbit_shovel,
  [{shovels,
    [{primary_to_secondary,
      [{sources,      [{broker, "amqp://"},
                       {declarations,
                          [{'exchange.declare',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {type, <<"topic">>}]},
						  {'queue.declare',
						          [{queue, <<"ShovelingQueue">>}]},
                           {'queue.bind',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {queue,    <<"ShovelingQueue">>},
								   {routing_key, <<"#">>}]}
                          ]}]},
       {destinations, [{broker, "amqp://guest:guest@localhost:5673/secondary"},
                       {declarations,
                          [{'exchange.declare',
                                  [{exchange, <<"ShovelingExchange">>},
                                   {type, <<"topic">>}]}
                          ]}]},
       {queue, <<"ShovelingQueue">>},
       {auto_ack, false},
       {tx_size, 0}
      ]}
     ]
   }]
}].