<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shoveling.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Shoveling.Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shoveling.Test.Properties.Settings>
            <setting name="RunEmbeddedBroker" serializeAs="String">
                <value>False</value>
            </setting>
        </Shoveling.Test.Properties.Settings>
        <Shoveling.Test.Settings>
            <setting name="RunEmbeddedBroker" serializeAs="String">
                <value>False</value>
            </setting>
        </Shoveling.Test.Settings>
    </applicationSettings>
</configuration>